$fuenteprincipal :  'Poppins', sans-serif;
$color-principal: #02735E;
$morado2: #7C07F2;
$azul: #5107F2;
$verde: #22D8B7;
$amarillo: #D6F204;
$blanco: #ffff;
$negro: #262626;
$radius: 30px;

$telefono : 480px;
$tablet : 768px;
$desktop : 1200px;
$border : 1px solid #cccc;